body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;

    ol {
        li {
            list-style-type: none;
        }
    }
}
