:root {
  --ratio: 80vh;
  --bgrad: linear-gradient(35deg, rgba(124, 231, 255, 0.4) 0%, rgba(161, 255, 203, 0.3) 100%);
  --bgradhov: linear-gradient(35deg, rgba(124, 231, 255, 0.6) 0%, rgba(161, 255, 203, 0.7) 100%);
  --borders: 1vh solid rgba(255, 255, 255, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", Arial, sans-serif;
  color: black;
}

body {
  margin: 0;
  padding: 0 0 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Arial, sans-serif;
  position: relative;
}
body .ts-outside-wrap {
  transform: scale(1.2);
}
body .ts-outside-wrap #background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
body .ts-outside-wrap .date-box {
  margin: 0.2rem;
  font-size: 1.5rem;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .ts-outside-wrap .date-box .date {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}
body .ts-outside-wrap .date-box .time {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
}
body .ts-outside-wrap .ts-wrap {
  box-sizing: border-box;
  margin: 0 0 2rem;
  padding: 1rem 1rem 1.2rem;
  font-family: "Nunito", sans-serif;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(35deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.3) 100%);
  width: 85vh;
  height: 70vh;
  border-radius: 2rem;
  z-index: 20;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 2px 2px 30px rgba(0, 22, 41, 0.3);
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
  will-change: transform;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2vh;
}
body .ts-outside-wrap .ts-wrap.darkBG {
  background: linear-gradient(35deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.3) 100%);
}
body .ts-outside-wrap .ts-wrap h1 {
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 0 0 10px rgb(255, 253, 233);
  color: black;
}
body .ts-outside-wrap .ts-wrap h1.darkBG {
  color: white;
  text-shadow: 0 0 10px rgb(7, 7, 0);
}
body .ts-outside-wrap .ts-wrap ol {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .ts-outside-wrap .ts-wrap ol li {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s;
  text-shadow: 0 0 4px rgb(255, 253, 233);
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.4;
  text-decoration: none;
  cursor: pointer;
  color: black;
}
body .ts-outside-wrap .ts-wrap ol li.strike {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.4);
}
body .ts-outside-wrap .ts-wrap ol li:hover {
  text-shadow: 0 0 6px rgb(255, 254, 250);
  transform: scale(1.03);
}
body .ts-outside-wrap .ts-wrap ol li.darkBG {
  color: white;
  text-shadow: 0 0 4px rgb(11, 10, 0);
}
body .ts-outside-wrap .ts-wrap ol li.darkBG.strike {
  color: rgba(255, 255, 255, 0.4);
}
body .ts-outside-wrap .ts-wrap ol li.darkBG:hover {
  text-shadow: 0 0 6px rgb(5, 4, 0);
}

@media (max-height: 750px) {
  body .ts-outside-wrap {
    transform: scale(1.1);
  }
  body .ts-outside-wrap .date-box .date {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.6);
  }
  body .ts-outside-wrap .date-box .time {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
  }
  body .ts-outside-wrap .ts-wrap {
    margin: 0;
  }
  body .ts-outside-wrap .ts-wrap ol {
    margin-top: 0.4rem;
  }
}/*# sourceMappingURL=tsorder_styles.css.map */